:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #122f66;
    --color-dark: #0b2447;
    --color-bg: #5b0909;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }